
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/App/Projects/EditProject.js")"></script>
}
<div>
    <div>
        <h2>Edit Project</h2>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <fieldset>
                    <br />
                  

                </fieldset>




            </div>
        </div>
    </div>

</div>
