@model ProjectManager.Models.Users.LoginModel
@{
    Layout = "";
    @Styles.Render("~/Content/theme_Main.css")
}

<div class="container">
    
    <h1>Access Denied</h1>

    <p>
        You have tried to access a page that you have no permission to view.
    </p>
   
</div>


